body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    /* position: relative; */
}

header {
    background: linear-gradient(to right, #000, #fff);
    color: #fff;
    padding: 20px;

    
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    position: sticky;
    top: 0;

}

body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode .bg-gray-600 {
  background-color: #333;
}

body.dark-mode .bg-white {
  background-color: #555;
}

body.dark-mode .transition-transform {
  transform: translateX(1.5rem); /* Adjust according to toggle size */
}

/* Ensure the toggle's background color and transform are correctly applied */
input:checked + label .transition-transform {
  transform: translateX(1.5rem); /* Adjust according to toggle size */
}